<!-- country.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Country</title></head>
<body>
<h1>Select Target Country</h1>
<form th:action="@{/product}" th:object="${countryForm}" method="post">
    <label for="selectedCountry">Select Country:</label>
    <select id="selectedCountry" th:field="*{selectedCountry}">
        <option value="">-- Please select --</option>
        <option th:each="country : ${countries}"
                th:value="${country.code}"
                th:text="${country.displayName}">
        </option>
    </select>
    <br/>
    <div th:if="${#fields.hasErrors('selectedCountry')}" style="color:red;">
        <p th:errors="*{selectedCountry}"></p>
    </div>

    <br/>
    <button type="submit">Next: Product Selection</button>
</form>
</body>
</html>