<!-- country.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Country</title></head>
<body>
<h1>Select Target Country</h1>
<form th:action="@{/custom-size}" th:object="${countryForm}" method="post">
    <select th:field="*{selectedCountry}">
        <option value="fr">France</option>
        <option value="de">Germany</option>
        <option value="es">Spain</option>
    </select>
    <br/>
    <button type="submit">Next: Custom Size</button>
</form>
</body>
</html>