<!-- customSize.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Custom Size</title></head>
<body>
<h1>Enter Custom Size</h1>
<form th:action="@{/logo-generation}" th:object="${sizeForm}" method="post">
    Width: <input type="text" th:field="*{width}" /> cm<br/>
    Height: <input type="text" th:field="*{height}" /> cm<br/>
    <button type="submit">Next: Logo</button>
</form>
<br/><br/>
<a href="/ingredients">
    <button type="button">Back: Product ingredient list</button>
</a>
</body>
</html>