<!-- customSize.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Custom Size</title></head>
<body>
<h1>Enter Custom Size</h1>
<form th:action="@{/logo-generation}" th:object="${sizeForm}" method="post">
    Width: <input type="text" th:field="*{width}" /> cm<br/>
    Height: <input type="text" th:field="*{height}" /> cm<br/>
   	<div th:if="${#fields.hasErrors('width')}" style="color:red;">
	    <p th:errors="*{width}"></p>
    <div th:if="${#fields.hasErrors('height')}" style="color:red;">
    	<p th:errors="*{height}"></p>
</div>
    
</div>
    
    <button type="submit">Next: Logo</button>
</form>
<br/><br/>
<a href="/ingredients">
    <button type="button">Back: Product ingredient list</button>
</a>
</body>
</html>