<!-- logoGeneration.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logo Generation</title>
</head>
<body>
<h1>Select Logo Type</h1>

<form th:action="@{/file-upload}" th:object="${logoForm}" method="post">

    <label for="logoType">Choose a Logo Type:</label>
    <select id="logoType" th:field="*{logoType}">
        <option value="">-- Please select --</option>
        <option value="triman">Triman Logo</option>
        <option value="recycle">Recycle Symbol</option>
        <option value="green_dot">Green Dot</option>
        <option value="mobius_loop">Mobius Loop</option>
    </select>
    <div th:if="${#fields.hasErrors('logoType')}" style="color:red;">
    	<p th:errors="*{logoType}"></p>
	</div>
    	
    <br/><br/>

    <label for="customText">Custom Text (optional):</label>
    <input type="text" id="customText" th:field="*{customText}" placeholder="e.g. Recyclable Material" />
    <br/><br/>

    <button type="submit">Next: File Upload</button>
</form>
<br/><br/>
<a href="/custom-size">
    <button type="button">Back: Product size</button>
</a>

</body>
</html>
