


<!productDetails.html OLD -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
</head>
<body>
<h1>Enter Product Details</h1>

<form th:action="@{/ingredients}" th:object="${productDetailsForm}" method="post">

    <label for="productName">Product Name:</label>
    <input type="text" id="productName" th:field="*{productName}" placeholder="e.g. Organic Soap" />
    <div th:if="${#fields.hasErrors('productName')}" style="color:red;">
  	  <p th:errors="*{productName}"></p>
	</div>
    
    <br/>

    <label for="productDescription">Product Description:</label>
    <input type="text" id="productDescription" th:field="*{productDescription}" placeholder="e.g. Mild and natural" />
    <div th:if="${#fields.hasErrors('productDescription')}" style="color:red;">
    	<p th:errors="*{productDescription}"></p>
	</div>
    
    <br/>

    <label for="productWeight">Product Weight:</label>
    <input type="text" id="productWeight" th:field="*{productWeight}" placeholder="e.g. 250g" />
    <div th:if="${#fields.hasErrors('productWeight')}" style="color:red;">
    	<p th:errors="*{productWeight}"></p>
	</div>
    
    <br/>

    <label for="packagingType">Packaging Type:</label>
    <input type="text" id="packagingType" th:field="*{packagingType}" placeholder="e.g. Glass Jar" />
    <div th:if="${#fields.hasErrors('packagingType')}" style="color:red;">
    	<p th:errors="*{packagingType}"></p>
	</div>	
    <br/>

    <button type="submit">Next: Ingredients</button>

</form>
<br/><br/>
<a href="/product">
    <button type="button">Back: Product selection</button>
</a>
</body>
</html>
-->
